@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font: #0d0221;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

.container {
  padding: 0 20px;
}

.sub-container {
  max-width: 1000px;
  height: 620px;
  width: 100%;
  margin: 20px auto 0;
  display: flex;
  background: #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.125);
}

.sub-container .banner-img {
  width: 600px;
  height: 100%;
}

.sub-container .banner-img img {
  width: 100%;
  height: 100%;
}

.sub-container .signup-form {
  width: 350px;
  height: 85%;
  margin-top: 10px;
  text-align: center;
  padding: 40px 35px 0;
  position: relative;

}

.sub-container .signup-form .title {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: bold;
}

.input {
  outline: none;
  border: 1px solid #83a4c5;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  background-color: #e8eaf6;
  color: #31393f;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}


input[type="submit"] {
  padding: 1rem;
  color: #fff;
  background: #032535;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 1rem;
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}


@media screen and (max-width: 500px) {
  .sub-container {
    flex-direction: column;
    max-width: 300px;
    height: auto;
    margin-top: 50px;
    background-color: #013249;

  }

  .sub-container .banner-img {
    width: 100%;
    height: 220px;
  }

  .banner-img img {
    width: 100%;
    height: 100%;
  }

  .sub-container .signup-form {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 35px 0;
  }

  .signup-form {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 50px 50px 5px 5px;
  }

  .sub-container .signup-form .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .signup-form .input {
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 15px;
    padding: 10px;
  }
}